*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-font: 'Questrial', sans-serif;
  --primary-color: #1f2630;
  --secondary-color: #f75921;
}
body{
  font-family: var(--main-font);
}
/* Header Section Start */
header{
  height: 520px;
  background-image: url(../image/momentio.jpg);
  background-size: cover;
  background-position: center;
}
/* Navbar */
nav {
  padding: 20px 0;
}
nav .logo-img{
  height: 40px;
}
nav button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* Navbar */
/* Header Section End */