*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-font: 'Questrial', sans-serif;
  --primary-color: #1f2630;
  --secondary-color: #f75921;
  --nav-bg:rgba(0, 0, 0, 0.233);
  --white: #fff;
}
body{
  font-family: var(--main-font);
}
/* Header Section Start */
header{
  height: 520px;
  background-image: url(../image/momentio.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid var(--secondary-color);
}
/* Navbar */
nav {
  padding: 20px 0;
  background-color: var(--nav-bg);
}
nav .logo-img{
  height: 40px;
}
nav button{
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}
/* Navbar */
/* Hero */
.hero .content > div{
  width: min-content;
  background-color: var(--nav-bg);
  padding: 0px 80px;
}
.hero .content h1{
  font-size: 80px;
}
.hero .content span{
  width: 550px;
  height: 2px ;
  background-color: white;
  margin-bottom: 20px;
}
.hero .content p{
  font-size: 25px;
  margin-bottom: 20px;
}
.hero button{
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 15px 50px;
  border-radius: 5px;
  margin: 60px 0;
}
/* Hero */
/* Header Section End */
/* About Section Start */
.about{
  padding: 100px 0;;
}
.first-about{
  color: var(--primary-color);
}
.first-about img{
  height: 100px;
  margin-bottom: 40px;
}
.first-about h2{
  font-size: 55px;
  margin-bottom: 40px;
}
.first-about .horizontal-line{
  display: block;
  height: 2px;
  width: 31.25rem;
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}
.first-about .para-1{
  font-size: 21px;
  margin-bottom: 100px;
}
.first-about .para-1 span{
  color: var(--secondary-color);
}
.first-about .para-2{
  font-size: 21px;
  color: var(--secondary-color);
  letter-spacing: 1.5px;
}
/* second */
.second-about{
  background-color: var(--primary-color);
  height: 100px;
  color: var(--white);
  padding: 40px 0;
  font-size: 15px;
  border-top: 3px solid var(--secondary-color);
}
/* About Section End */
/* Service Section Start */
.service-container{
  background-image: url(../image/service-bg.png);
  background-size: 100% 100%;
  background-position: center;
  min-height: 30rem;
}
.service-container img{
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 50%;
}
.service-column-1,.service-column-2,.service-column-3,.service-column-4{
  position: relative;
  padding: 20px;
}
.service .sub-row-1::after,.sub-row-2::after{
  content: "";
  width: 520px;
  background-color: var(--secondary-color);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.service .sub-row-1::before,.sub-row-3::before{
  content: "";
  width: 2px;
  background-color: var(--secondary-color);
  height: 160px;
  position: absolute;
  top: 18px;
  right: 14px;
}
.service .sub-row-1::before{
  top: 5px;
}
.service h3{
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-color);
}
.service .sub-row-2 h3, .sub-row-4 h3{
  text-align: right;
}
.service .sub-row-2 p, .sub-row-4 p{
  text-align: right;
}
.service p{
  font-size: 15px;
}
/* Service Section End */
/* Qutoe Section Start */
.qutoe{
  min-height: 300px;
  background-image: url(../image/quote-section\ \(1\).png);
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
.qutoe span{
  width: 31.25rem;
  height: 10px;
  background-color: #fff;
  display: block;
}
.qutoe p{
  color: var(--secondary-color);
  font-size: 30px;
  margin-block: 40px;
}
/* Qutoe Section End  */
/* Work and Portfolio Section Start */
.work-portfolio{
  margin-top: 100px;
  position: relative;
}
.work-portfolio-container{
  height: 100%;
  min-height: 81.25rem;
  background-image: url(../image/work-portfolio.png);
  background-position: center;
  background-size: 100% 100%;
}
/* Work section */
.work-section .title .first-para{
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}
.work-section .title span{
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  height: 2px;
  background-color: var(--secondary-color);
}
.work-section .title .second-para{
  color: var(--primary-color);
  font-size: 15px;
  margin-top: 82px;
  text-align: center;
}
.reason{
  margin-top: 100px;
}
.work-section .reason-div{
  background-color: var(--primary-color);
  color: var(--white);
  position: relative;
  min-height: 200px;
  min-width: 220px;
  overflow: hidden;
}
.reason-div span{
  font-size: 90px;
  position: absolute;
  top: -48px;
  left: -20px;
}
.reason-div .content{
  padding: 80px 22px 35px;
  font-size: 15px;
}
.work-section .first-reason{
  background-color: var(--secondary-color);
}
/* Work section */
/* Portfolio */
.portfolio-section{
  margin-top: 100px;
  width: 100%;
}
.portfolio-section .header h2{
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.portfolio-section .header span{
  position: absolute;
  width: 100%;
  top: 680px;
  left: 0;
  height: 2px;
  background-color: var(--secondary-color);
}
.portfolio-grid-container{
  margin-top: 145px;
}
.portfolio-grid{
  margin-top: 50px;
}
.portfolio-col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first-portfolio-col{
  position: relative;
}
.first-portfolio-col span{
  position: absolute;
  width: 92%;
  height: 100%;
  background-color: #f75a21a1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.first-portfolio-col .icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  gap: 20px;
  height: 20px;
}
.portfolio-grid .dots div{
  height: 10px;
  width: 10px;
  background-color: #c9cfd0;
  margin-left: 2px;
  border-radius: 50%;
}
.portfolio-grid .dots div:first-child{
  background-color: var(--secondary-color);
}
/* Portfolio */
/* Work and Portfolio Section End */
/* Media Query */
@media (max-width: 1200px) {
  /* Hero */
  .hero .content h1{
    font-size: 75px;
  }
  .hero .content span{
    width: 530px;
  }
/* Hero */
/* Service */
  .service .sub-row-1::after,.sub-row-2::after{
    width: 430px;
    bottom: 0;
    left: 10px;
  }
/* Service */
/* Work and Portfolio */
  .first-portfolio-col span{
    width: 90%;
  }
/* Work and Portfolio */
}
@media (max-width: 992px){
  /* Hero */
  .hero .content > div{
  padding: 0px 70px;
  }
  .hero .content h1{
    font-size: 70px;
  }
  .hero .content span{
    width: 500px;
  }
  .hero .content p{
  font-size: 23px;
  }
  .hero button{
    padding: 14px 45px;
  }
/* Hero */
/* About */
.first-about img{
  height: 90px;
  margin-bottom: 35px;
}
.first-about h2{
  font-size: 50px;
  margin-bottom: 35px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 35px;
}
.first-about .para-1{
  margin-bottom: 80px;
}
/* About*/
/* Service */
  .service .sub-row-1::after,.sub-row-2::after{
    width: 320px;
    bottom: 0;
    left: 5px;
  }
  .service .sub-row-1::before,.sub-row-3::before{
    height: 180px;
    top: 18px;
    right: 14px;
  }
  .service-container img{
    padding: 20px;
  }
/* Service */
/* Qutoe */
.qutoe p{
  font-size: 27px;
}
/* Qutoe */
/* Work Portfolio */
  .portfolio-section .header span{
    top: 950px;
  }
  .work-portfolio-container{
    background-size: cover;

  }
/* Work Portfolio */
}
@media (max-width: 768px){
  /* Hero */
  .hero .content > div{
  padding: 0px 50px;
  }
  .hero .content h1{
    font-size: 63px;
  }
  .hero .content span{
    width: 460px;
  }
  .hero .content p{
  font-size: 21px;
  }
  .hero button{
    padding: 13px 40px;
  }
/* Hero */
/* About */
.first-about img{
  height: 80px;
  margin-bottom: 30px;
}
.first-about h2{
  font-size: 45px;
  margin-bottom: 30px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 30px;
}
.first-about .para-1{
  margin-bottom: 70px;
  font-size: 19px;
}
.first-about .para-2{
  font-size: 19px;
}
/* About*/
/* Service */
  .service .sub-row-1::before,.sub-row-3::before{
    width: 0px;
    height: 0px;
  }
  .service .sub-row-1::after,.sub-row-2::after{
    width: 520px;
    bottom: 0;
    left: 0px;
  }
  .service .sub-row-3::after,.sub-row-4::after{
    content: "";
    width: 520px;
    background-color: #f75921;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0px;
  }
  .service .service-column-2,.service-column-3,.service-column-4{
    margin-top: 50px;
  }
/* Service */
/* Qutoe */
.qutoe{
  margin-top: 50px;
}
.qutoe p{
  font-size: 24px;
}
/* Qutoe */
/* Work and Portfolio */
  .first-portfolio-col span{
    width: 92%;
  }
/* Work and Portfolio */
}
@media (max-width: 576px){
  /* Hero */
  .hero .content > div{
    width: 100%;
    padding: 0px 0px;
  }
  .hero .content h1{
    font-size: 50px;
  }
  .hero .content span{
    width: 320px;
  }
  .hero .content p{
  font-size: 18px;
  }
  .hero button{
    padding: 10px 35px;
  }
/* Hero */
/* About */
.first-about img{
  height: 75px;
  margin-bottom: 28px;
}
.first-about h2{
  font-size: 43px;
  margin-bottom: 28px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 28px;
}
.first-about .para-1{
  margin-bottom: 60px;
  font-size: 18px;
}
.first-about .para-2{
  font-size: 18px;
}
.first-about .horizontal-line{
  width: 25rem;
}
/* About*/
/* service */
  .service .sub-row-1::after,.sub-row-2::after{
    width: 95%;
  }
  .service .sub-row-3::after,.sub-row-4::after{
    width: 95%;
  }
/* service */
/* Qutoe */
.qutoe span{
  width: 100%;
}
.qutoe p{
  font-size: 21px;
}
/* Work and Portfolio */
  .portfolio-section .header span{
    top: 1000px;
  }
  .first-portfolio-col span{
    width: 95%;
  }
/* Work and Portfolio */
}
@media (max-width:450px) {
  .portfolio-section .header span{
    top: 1400px;
  }
}