*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-font: 'Questrial', sans-serif;
  --primary-color: #1f2630;
  --secondary-color: #f75921;
}
body{
  font-family: var(--main-font);
}
/* Header Section Start */
header{
  height: 520px;
  background-image: url(../image/momentio.jpg);
  background-size: cover;
  background-position: center;
}
/* Navbar */
nav {
  padding: 20px 0;
}
nav .logo-img{
  height: 40px;
}
nav button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* Navbar */
/* Hero */
.hero .content > div{
  width: min-content;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 0px 80px;
}
.hero .content h1{
  font-size: 80px;
}
.hero .content span{
  width: 550px;
  height: 2px ;
  background-color: white;
  margin-bottom: 20px;
}
.hero .content p{
  font-size: 25px;
  margin-bottom: 20px;
}
.hero button{
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 15px 50px;
  border-radius: 5px;
  margin: 60px 0;
}
/* Hero */
/* Header Section End */
/* Media Query */
@media (max-width: 1200px) {
  /* Hero */
  .hero .content h1{
    font-size: 75px;
  }
  .hero .content span{
    width: 530px;
  }
/* Hero */
}
@media (max-width: 992px){
  /* Hero */
  .hero .content > div{
  padding: 0px 70px;
  }
  .hero .content h1{
    font-size: 70px;
  }
  .hero .content span{
    width: 500px;
  }
  .hero .content p{
  font-size: 23px;
  }
  .hero button{
    padding: 14px 45px;
  }
/* Hero */
}
@media (max-width: 768px){
  /* Hero */
  .hero .content > div{
  padding: 0px 50px;
  }
  .hero .content h1{
    font-size: 63px;
  }
  .hero .content span{
    width: 460px;
  }
  .hero .content p{
  font-size: 21px;
  }
  .hero button{
    padding: 13px 40px;
  }
/* Hero */
}
@media (max-width: 576px){
  /* Hero */
  .hero .content > div{
    width: 100%;
    padding: 0px 0px;
  }
  .hero .content h1{
    font-size: 50px;
  }
  .hero .content span{
    width: 320px;
  }
  .hero .content p{
  font-size: 18px;
  }
  .hero button{
    padding: 10px 35px;
  }
/* Hero */
}