*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-font: 'Questrial', sans-serif;
  --primary-color: #1f2630;
  --secondary-color: #f75921;
}
body{
  font-family: var(--main-font);
}
/* Header Section Start */
header{
  height: 520px;
  background-image: url(../image/momentio.jpg);
  background-size: cover;
  background-position: center;
}
/* Navbar */
nav {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.233);
}
nav .logo-img{
  height: 40px;
}
nav button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* Navbar */
/* Hero */
.hero .content > div{
  width: min-content;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 0px 80px;
}
.hero .content h1{
  font-size: 80px;
}
.hero .content span{
  width: 550px;
  height: 2px ;
  background-color: white;
  margin-bottom: 20px;
}
.hero .content p{
  font-size: 25px;
  margin-bottom: 20px;
}
.hero button{
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 15px 50px;
  border-radius: 5px;
  margin: 60px 0;
}
/* Hero */
/* Header Section End */
/* About Section Start */
.about{
  padding: 100px 0;;
}
.first-about{
  color: var(--primary-color);
}
.first-about img{
  height: 100px;
  margin-bottom: 40px;
}
.first-about h2{
  font-size: 55px;
  margin-bottom: 40px;
}
.first-about .horizontal-line{
  display: block;
  height: 2px;
  width: 31.25rem;
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}
.first-about .para-1{
  font-size: 21px;
  margin-bottom: 100px;
}
.first-about .para-1 span{
  color: var(--secondary-color);
}
.first-about .para-2{
  font-size: 21px;
  color: var(--secondary-color);
  letter-spacing: 1.5px;
}
/* About Section End */
/* Media Query */
@media (max-width: 1200px) {
  /* Hero */
  .hero .content h1{
    font-size: 75px;
  }
  .hero .content span{
    width: 530px;
  }
/* Hero */
}
@media (max-width: 992px){
  /* Hero */
  .hero .content > div{
  padding: 0px 70px;
  }
  .hero .content h1{
    font-size: 70px;
  }
  .hero .content span{
    width: 500px;
  }
  .hero .content p{
  font-size: 23px;
  }
  .hero button{
    padding: 14px 45px;
  }
/* Hero */
/* About */
.first-about img{
  height: 90px;
  margin-bottom: 35px;
}
.first-about h2{
  font-size: 50px;
  margin-bottom: 35px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 35px;
}
.first-about .para-1{
  margin-bottom: 80px;
}
/* About*/
}
@media (max-width: 768px){
  /* Hero */
  .hero .content > div{
  padding: 0px 50px;
  }
  .hero .content h1{
    font-size: 63px;
  }
  .hero .content span{
    width: 460px;
  }
  .hero .content p{
  font-size: 21px;
  }
  .hero button{
    padding: 13px 40px;
  }
/* Hero */
/* About */
.first-about img{
  height: 80px;
  margin-bottom: 30px;
}
.first-about h2{
  font-size: 45px;
  margin-bottom: 30px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 30px;
}
.first-about .para-1{
  margin-bottom: 70px;
  font-size: 19px;
}
.first-about .para-2{
  font-size: 19px;
}
/* About*/
}
@media (max-width: 576px){
  /* Hero */
  .hero .content > div{
    width: 100%;
    padding: 0px 0px;
  }
  .hero .content h1{
    font-size: 50px;
  }
  .hero .content span{
    width: 320px;
  }
  .hero .content p{
  font-size: 18px;
  }
  .hero button{
    padding: 10px 35px;
  }
/* Hero */
/* About */
.first-about img{
  height: 75px;
  margin-bottom: 28px;
}
.first-about h2{
  font-size: 43px;
  margin-bottom: 28px;
}
.first-about .horizontal-line{
  width: 31rem;
  margin-bottom: 28px;
}
.first-about .para-1{
  margin-bottom: 60px;
  font-size: 18px;
}
.first-about .para-2{
  font-size: 18px;
}
.first-about .horizontal-line{
  width: 25rem;
}
/* About*/
}